extends ../layouts/application.pug

block header
  = t('views.users.new.signUp')

block content
  +formFor(user, { action: route('users'), method: 'POST' })
    +input(user, 'firstName', errors)(type="text" label="First name")
    +input(user, 'lastName', errors)(type="text" label="Last name")
    +input(user, 'email', errors)(type="text" label="Email")
    +input(user, 'password', errors)(type="password" label="Password")
    +submit(user)(value=t('views.users.new.submit'))