extends ../layouts/application.pug

block header
  | #{t('statuses.edit.header')}

block content
  +formFor(status, { action: route('statuses.update', { id: status.id }), method: 'POST' })
    input(type='hidden', name='_method', value='patch')
    +input(status, 'name', errors)
    +submit(t('statuses.edit.submit'))
