extends ../layouts/application.pug

block header
  | #{t('views.statuses.edit.header')}

block content
  +formFor(status, { action: route('statuses.update', { id: status.id }), method: 'POST' })
    input(type='hidden', name='_method', value='patch')
    +input(status, 'name', errors)(type="text" label=t('views.statuses.edit.name'))
    +submit(t('views.statuses.edit.submit'))
