extends ../layouts/application.pug

block header
  | #{t('views.statuses.new.header')}

block content
  +formFor(status, { action: route('statuses'), method: 'POST' })
    +input(status, 'name', errors)(type="text" label=t('views.statuses.new.name'))
    +submit(t('views.statuses.new.create'))
