extends ../layouts/application.pug

block header
  | #{t('statuses.index.header')}

block content
  +formFor(status, { action: route('statuses'), method: 'POST' })
    +input(status, 'name', errors)
    +submit(t('statuses.index.new'))
