extends ../layouts/application.pug
include ../mixins/forms.pug
include _form.pug

block content
  h1= t('views.labels.edit.header')

  form(method="post", action=route('labels.update', { id: label.id }))
    input(type='hidden', name='_method', value='patch')
    +input(label, 'name', errors)(type="text" label=t('views.labels.new.name'))
    +submit(t('views.labels.actions.change'))
