extends ../layouts/application.pug

block header
  = t('views.session.signIn')

block content
  +formFor()(action=route('session') method='post')
    +input(signInForm, 'email', errors)(type="text" label=t('views.session.email'))
    +input(signInForm, 'password')(type="password" label=t('views.session.password'))
    +submit(signInForm)(value=t('views.session.login'))